#logo img{
    width: 100px;
    height: 100px;
}
#logo {
    display: flex;
    flex-direction: row;
}
.all{
    display: flex;
    flex-direction: row;
}
.content{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin:  0;
}
.news{
    flex: 1;
    padding-right: 10px;
    border-right: solid #333;
}
.Announcements{
    padding-left: 10px;
    flex: 1;
    box-sizing: border-box;
}
.contact{
    display: flex;
    align-items: center;
    flex-direction: column;

}